.DS_Store
node_modules
server/upload/*
upload/*
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
database-debug.log
firebase-debug.log
firestore-debug.log
ui-debug.log
functions/firebase-export/storage_export/blobs/image-toolkit-app.appspot.com%2Fimmagini%2FDSC01624-ProPs-BW.jpg
functions/firebase-export/storage_export/blobs/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08158_ps_5x7.jpg
functions/firebase-export/storage_export/blobs/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08162_ps.jpg
functions/firebase-export/storage_export/blobs/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08174_ps.jpg
functions/firebase-export/storage_export/blobs/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08178_ps_2x3.jpg
functions/firebase-export/storage_export/blobs/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08180_ps_2x3.jpg
functions/firebase-export/storage_export/blobs/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08185_psPano_0.jpg
functions/firebase-export/storage_export/blobs/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08214_ps_5x7.jpg
functions/firebase-export/storage_export/blobs/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08230_ps.jpg
functions/firebase-export/storage_export/blobs/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08232_ps_5x7.jpg
functions/firebase-export/storage_export/blobs/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08238_ps.jpg
functions/firebase-export/storage_export/blobs/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08241_ps_16x9.jpg
functions/firebase-export/storage_export/blobs/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08243_ps.jpg
functions/firebase-export/storage_export/blobs/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08271_ps_5x7.jpg
functions/firebase-export/storage_export/blobs/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08273_ps.jpg
functions/firebase-export/storage_export/blobs/image-toolkit-app.appspot.com%2Fimmagini%2FDSC09000_ps.jpg
functions/firebase-export/storage_export/metadata/image-toolkit-app.appspot.com%2Fimmagini%2FDSC01624-ProPs-BW.jpg.json
functions/firebase-export/storage_export/metadata/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08158_ps_5x7.jpg.json
functions/firebase-export/storage_export/metadata/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08162_ps.jpg.json
functions/firebase-export/storage_export/metadata/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08174_ps.jpg.json
functions/firebase-export/storage_export/metadata/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08178_ps_2x3.jpg.json
functions/firebase-export/storage_export/metadata/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08180_ps_2x3.jpg.json
functions/firebase-export/storage_export/metadata/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08185_psPano_0.jpg.json
functions/firebase-export/storage_export/metadata/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08232_ps_5x7.jpg.json
functions/firebase-export/storage_export/metadata/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08232_psCropped.jpg.json
functions/firebase-export/storage_export/metadata/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08238_ps.jpg.json
functions/firebase-export/storage_export/metadata/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08241_ps_16x9.jpg.json
functions/firebase-export/storage_export/metadata/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08243_ps.jpg.json
functions/firebase-export/storage_export/metadata/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08271_ps_5x7.jpg.json
functions/firebase-export/storage_export/metadata/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08273_ps.jpg.json
functions/firebase-export/storage_export/metadata/image-toolkit-app.appspot.com%2Fimmagini%2FDSC09000_ps.jpg.json
functions/firebase-export/storage_export/metadata/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08273_ps.jpg.json
functions/firebase-export/storage_export/metadata/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08271_ps_5x7.jpg.json
functions/firebase-export/storage_export/metadata/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08243_ps.jpg.json
functions/firebase-export/storage_export/metadata/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08241_ps_16x9.jpg.json
functions/firebase-export/storage_export/metadata/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08238_ps.jpg.json
functions/firebase-export/storage_export/metadata/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08232_psCropped.jpg.json
functions/firebase-export/storage_export/metadata/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08232_ps_5x7.jpg.json
functions/firebase-export/storage_export/metadata/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08185_psPano_0.jpg.json
functions/firebase-export/storage_export/metadata/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08180_ps_2x3.jpg.json
functions/firebase-export/firestore_export/firestore_export.overall_export_metadata
functions/firebase-export/firestore_export/all_namespaces/all_kinds/output-0
functions/firebase-export/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
functions/firebase-export/auth_export/accounts.json
functions/firebase-export/storage_export/metadata/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08273_ps.jpg.json
functions/firebase-export/storage_export/metadata/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08271_ps_5x7.jpg.json
functions/firebase-export/storage_export/metadata/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08243_ps.jpg.json
functions/firebase-export/storage_export/metadata/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08241_ps_16x9.jpg.json
functions/firebase-export/storage_export/metadata/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08238_ps.jpg.json
functions/firebase-export/storage_export/metadata/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08232_psCropped.jpg.json
functions/firebase-export/storage_export/metadata/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08232_ps_5x7.jpg.json
functions/firebase-export/storage_export/metadata/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08185_psPano_0.jpg.json
functions/firebase-export/storage_export/metadata/image-toolkit-app.appspot.com%2Fimmagini%2FDSC08180_ps_2x3.jpg.json
functions/firebase-export/firestore_export/firestore_export.overall_export_metadata
functions/firebase-export/firestore_export/all_namespaces/all_kinds/output-0
functions/firebase-export/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
functions/firebase-export/auth_export/accounts.json
