/*
*       DARK MODE
    attenzione, prima dichiarare le variabili 'light', poi le variabili dark, poi dichiarare quali proprietà vanno a modifidcare 
*/

body{
    --varExample: #000;
    --backgroundColor: #fff;
    --background_mod: #ddd;
    --mainText: #000;
}
.darkMode{
    --backgroundColor: #111;
    --background_mod: #333;
    --mainText: #fff;
}
body{
    background-color: var(--backgroundColor);
    color: var(--mainText);
}

h1, h2, h3{ color: var(--mainText) }
/*.darkMode > .darkModeBtn::before{ content: 'asdf' } */

/* SMALL DEVICES */
@media screen and (max-width: 650px){
    .mainViewer > img{ min-width:90% }
    .mainViewer > span{  width: 80%; margin-bottom: 2rem  }
    .mainViewer{
        display: grid; /*block;*/
        min-width: 350px;
        height: auto;
        place-items: center;
    }
}

/* WIDE DEVICES */
@media only screen and (min-width: 1180px){
    .catalogDiv > ul{
        display: flex;
        flex-flow: row  wrap;        
        /*flex-direction: row; flex-wrap: wrap;*/
    }
    .catalogDiv > ul > li{ flex: 1 1 0px /*flex-grow: 0; flex-shrink: 5;*/ }
}

/* ULTRA WIDE DEVICES / 4K */
@media only screen and (min-width: 2140px){
    .mainViewer{ min-width: 750px }
}