/*
*       DARK MODE
    attenzione, prima dichiarare le variabili 'light', poi le variabili dark, poi dichiarare quali proprietà vanno a modifidcare 
*/

body{
    --varExample: #000;
    --backgroundColor: #fff;
    --background_mod: #ddd;
    --mainText: #000;
}
.darkMode{
    --backgroundColor: #111;
    --background_mod: #333;
    --mainText: #fff;
}
body{
    background-color: var(--backgroundColor);
    color: var(--mainText);
}

h1, h2, h3{ color: var(--mainText) }
/*.darkMode > .darkModeBtn::before{ content: 'asdf' } */

/* SMALL DEVICES */
@media screen and (max-width: 650px){
    .mainViewer > img{ width: 90%; }
    .mainViewer > span{  width: 80%; }
    .mainViewer > span > li{  margin-left: 2rem }
    .mainViewer{ 
        display: block;
        height: auto;    
    }
}

/* WIDE DEVICES */
@media only screen and (min-width: 1200px){
    .catalogDiv > ul{
        display: flex;
        /*flex-direction: row;
        flex-wrap: wrap;*/
        flex-flow: row  wrap;        
    }
    .catalogDiv > ul > li{
        /*flex-grow: 0;
        flex-shrink: 5;*/
        flex: 1 1 0px
    }
}